*{
    margin: 0;
    padding: 0;
}

body{
    background: #eeeeee;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    font-size: 50px;
    text-align: center;
    padding: 20px 0;
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    border: 10px solid black;
    margin: auto;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
}

.contenedor > div{
    display: block;
    padding: 20px;
    color: #fff;
    background: #2f89fc;
    box-shadow: 2px 2px 10px rgb(0,0,0, .25);
}