*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor{
    width: 80%;
    max-width: 700px;
    background: #212d40;
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center ;
}

.caja{
    width: 100px;
    height: 100px;
    text-align: center;
    background: #f79256;
    margin: 20px;
    padding: 20px;
    font-size: 40px;
    color: #fff;
}