body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#website *{
    margin: 0;
    padding: opx;
}

#website{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 150px 70px 1fr 70px;
    width: 75%;
    height: 1000px;
    margin: 0px auto;
    border: 1px solid #ccc;
}

#cabecera{
    grid-column: 1/6;
    background: blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu{
    grid-column: 1/6;
    background: lightblue;
    color: black;
}

#menu ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
   
}

#menu ul a{
    text-decoration: none;
}

#contenido{
    grid-column: 1/5;
    background: #eee;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 500px;
    grid-gap: 20px;
    padding: 20px;
}

#contenido article{
    background: #ccc;
    border: 1px solid #555;
}

#lateral{
    grid-column: 5/6;
    background: orange;
    color: white;
}

#pie-pagina{
    grid-column: 1/6;
    background: black;
    color: white;
}