body{
    font-family:Arial, Helvetica, sans-serif;/* tipo de fuente */
    font-size: 12px;
    background-color:aqua;
}
h1{
  font-size: 48px; /* tamaño de la fuente */
  background-color: black; /*color de fondo */
  color:orange; /* color de texto */
  margin: 0;
}
.centrado{
  text-align:center;
}

#footer
{
  height: 20px;
  background: black;
  color:white;
  text-align: center;
}

#header, #main, #navegacion,#pie{
  width:80%;
  margin:auto;
} 
#header{
    height: 200px;
    background: green;
    background-image: url('img/wallpaper-manzanas-verdes-1.jpg');
    background-size: cover;
}
#navegacion{
  height: 40px;
  background:green;
  text-align: center;
  font-weight: bold;
  
}

#left, #right{
  float: left;
}

#main{
overflow: hidden;
background: #AAA;
}

img{
  width: 90%;
}

#navegacion a{
  font-size: 16px;
  color:orange;
  text-decoration: none;  
  word-spacing: 10px;
  
}


#left{
  width: 75%;

}

#left h2{
  color: blue;
  text-decoration: underline;
}

#left h3{
  color: red;
  text-decoration: underline;
}

#right{
  width: 25%;
  text-align: center;
  background: black;
  color: white;
  font-weight: bold;
}

#right h3{
  text-align: left;
  color:red;
  padding-top:  10px;
  margin-bottom: 12px;
}