#parrafo{
    font-size: 25px;
    background-color: hotpink;
}

.subtitulo{
    color: #333333;
    font-size: 26px;
}

.fondorojo{
    background-color: red;
}

div p{
    background-color: yellow;
}

div > p{
    background-color:green;
}

input[type=submit]{
border: 1px solid white;
padding: 8px;
background-color: rgb(128,77,0);
}