/*p::first-letter{
    font-size: 40px;
    font-weight: bold;
}

::selection{
    background: #cf5c36;
    color: white;
}

p::first-line{
    font-size: 40px;
    line-height: 40px;
    color: red;
}
*/
.cajita{
    background: #cf5c36;
    height: 150px;
    width: 150px;
}

.cajita::before{
    color: white;
    background: #3a3a3a;
    content: 'Contenido antes de la caja';
    display: block;
}

.cajita::after{
    color: white;
    background: blue;
    content: 'Contenido despues de la caja';
    display: block;
    width: 50px;
    height: 5opx;
    position: relative;
    left: 200px;
}
