body{
    font-family: Arial, Helvetica, sans-serif;
}

a{
    background: #4357ad;
    padding: 20px 80px;
    font-size: 20px;
    display: inline-block;
    color: #fff;
}

a:hover{
    background: #000 ;
}

a:visited{
    background: #ccc;
}

a:active{
    background: violet;
}

p:first-child{
    color: pink;
}

p:last-of-type{
    color: red;
}

p i:first-child{
    color: blue;
}

/*p{
    background-color: greenyellow;
}

:not(p){
    color: red;
}

div{
    width: 500px;
}

div p:hover{
    background: #000;
    color: white;
}

div p:first-line{
background: #3a3a3a;
color: white;
}*/

