body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: #66f1e6;
    text-align: center;
}
h1{
font-size: 48px;
background-color: black;
color: rgb(203, 76, 235);
}
h2{
color: rgb(255, 162, 178);
}
.centrado{
    text-align: center;
}

#footer{
    height: 20px;
    background: grey;
    color:white;
    text-align: center;
}
#header, #main, #navegacion, #footer{
width: 80%;
margin:auto;
}
#header{
    height: 200px;
    background: red;

}
#navegacion{
    background-color: palegreen;
}
#navegacion a{
    font-size: 16px;
    color:orange;
    text-decoration: none;
    word-spacing: 10px;

    
}